# Backup Manager - Зависимости

# GUI библиотека для Windows
PyQt5>=5.15.10

# Для миграции из старого формата конфигурации YAML
PyYAML>=6.0

# Для удаления файлов в корзину
send2trash>=1.8.2

# Для работы с S3 (miniopy-async - надёжная библиотека без проблем с trailing headers)
miniopy-async>=1.20.0

